body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
}

input,
button {
	padding: 7px;
	border-radius: 5px;
	border: 1px solid #aaa;
}

#factorial {
	width: 70%;
	margin: 0 auto;
	background-color: #ededed;
	padding: 10px;
	margin-top: 20px;
}
